body{
    font-family: 'Merriweather Sans', sans-serif;
    background: #b3cde0;
    font-weight: light;
}

header {
    background: linear-gradient(#03396c, #b3cde0);
    color: white;
}

header h1 {
    filter: drop-shadow(3px 4px 4px black);
    font-size: 45px;
    font-weight: bold;
}

.city-search {
    filter: drop-shadow(1px 2px 2px #03396c);
}

.card {
    padding: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}

#recent-searches {
    margin-top: 10px;
    border-top: #03396c solid;
}

/* background color changes based on low, moderate, or high UV index */
.uv-index-low {
    background-color: green;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 4px;
}

.uv-index-moderate {
    background-color: yellow;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 4px;
}

.uv-index-high {
    background-color: red;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 4px;
}